<div id="sidenav">
    <br>
    

      <h5>PHP</h5>
      <br>
      <ul>
        <li><a href="https://www.w3schools.com/php/default.asp"><h6>PHP Home</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_intro.asp"><h6>PHP Introduction</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_install.asp"><h6>PHP Install</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_syntax.asp"><h6>PHP Synatx</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_comments.asp"><h6>PHP Comments</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_variables.asp"><h6>PHP Variables</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_datatypes.asp"><h6>PHP Data Types</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_string.asp"><h6>PHP Strings</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_numbers.asp"><h6>PHP Numbers</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_math.asp"><h6>PHP Math</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_constants.asp"><h6>PHP Constants</h6></a></li>
        <li><a href="https://www.w3schools.com/php/php_operators.asp"><h6>PHP Operators</h6></a></li>

      </ul>

</div>
