<div id="sidenav">
    <br>
    

      <h5>JavaScript</h5>
      <br>
      <ul>
        <li><a href="https://www.w3schools.com/js/default.asp"><h6>JS Home</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_intro.asp"><h6>JS Introduction</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_whereto.asp"><h6>JS Where to</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_output.asp"><h6>JS Output</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_statements.asp"><h6>JS Statements</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_syntax.asp"><h6>JS Syntax</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_comments.asp"><h6>JS Comments</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_variables.asp"><h6>JS Variables</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_let.asp"><h6>JS Let</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_const.asp"><h6>JS Const</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_operators.asp"><h6>JS Operators</h6></a></li>
        <li><a href="https://www.w3schools.com/js/js_arithmetic.asp"><h6>JS Arithmatic</h6></a></li>

      </ul>

</div>

