<div style="text-align: center;">

<div id="heading">
  <div id="left">
  <a href="https://www.w3schools.com/"><img src="assets/img/sample.png" width="200" height="50"></a>

  </div>

  <div id="right">
   <button class="btn btn-success">Login</button>
 
  </div>

</div>
  
  
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          
          <li class="nav-item">
            <a class="nav-link" routerLink="/" id="color">HTML</a>
          </li>
          

         
          <li class="nav-item">
            <a class="nav-link" routerLink="css" id="color">CSS</a>
          </li>
          
          
         
          <li class="nav-item">
            <a class="nav-link" routerLink="javascript" id="color">JavaScript</a>
          </li>
          

          
          <li class="nav-item">
            <a class="nav-link" routerLink="php" id="color">PHP</a>
          </li>
          

          <li class="nav-item">
            <a class="nav-link" routerLink="phython" id="color">PHYTHON</a>
          </li>
          
        
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  


  

</div>


<router-outlet></router-outlet>