#heading{
    overflow: auto;
}

#left{
    float: left;
}

#right{
    float: right;
}



button{
    margin-right: 10px;
    margin-left: 40px;
    margin-top: 10PX;
}

a{
    font-size: large;
    font-weight: 500;
    
    
    }

form{
    float: right;
}

#color{
    color: white;
}
