<div id="sidenav">
    <br>
    

      <h5>PHYTHON</h5>
      <br>
      <ul>
        <li><a href="https://www.w3schools.com/python/default.asp"><h6>Phython Home</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_intro.asp"><h6>Phython Introduction</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_getstarted.asp"><h6>Phython Get Started</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_syntax.asp"><h6>Phython Synatx</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_comments.asp"><h6>Phython Comments</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_variables.asp"><h6>Phython Variables</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_datatypes.asp"><h6>Phython Data Types</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_numbers.asp"><h6>Phython Numbers</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_casting.asp"><h6>Phython Casting</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_strings.asp"><h6>Phython Strings</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_booleans.asp"><h6>Phython Booleans</h6></a></li>
        <li><a href="https://www.w3schools.com/python/python_operators.asp"><h6>Phython Operators</h6></a></li>

      </ul>

</div>

